%h1 Listing users

%table
  %tr
    %th Email
    %th Crypted password
    %th Password salt
    %th Persistence token
    %th Login count
    %th Failed login count
    %th Last request at
    %th Current login at
    %th Last login at
    %th Current login ip
    %th Last login ip
    %th Name
    %th Role
    %th Facebook
    %th Gender
    %th Locale
    %th Timezone
    %th Birthday
    %th
    %th
    %th

  - @users.each do |user|
    %tr
      %td= user.email
      %td= user.crypted_password
      %td= user.password_salt
      %td= user.persistence_token
      %td= user.login_count
      %td= user.failed_login_count
      %td= user.last_request_at
      %td= user.current_login_at
      %td= user.last_login_at
      %td= user.current_login_ip
      %td= user.last_login_ip
      %td= user.name
      %td= user.role
      %td= user.facebook_id
      %td= user.gender
      %td= user.locale
      %td= user.timezone
      %td= user.birthday
      %td= link_to 'Show', user
      %td= link_to 'Edit', edit_user_path(user)
      %td= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete

%br

= link_to 'New User', new_user_path
