- if @user.errors.any?
	%ul
		- @user.errors.full_messages.each do |msg|
			%li= msg

= form_for @user do |f|
	.row-fluid
		.span2= image_tag @picture_url
		.span10
			= hidden_field_tag :picture_url, @picture_url
			= f.hidden_field :facebook_id, :readonly => true
			%p= f.text_field :name, :readonly => true
			%p= f.text_field :email, :readonly => true
			%p= f.password_field :password, :placeholder => 'Senha'
			%p= f.password_field :password_confirmation, :placeholder => 'Confirmaçao de senha'
			%p= f.button 'Cadastrar', :class => [ "btn", "btn-primary" ]
