%p#notice= notice

%p
  %b Email:
  = @user.email
%p
  %b Crypted password:
  = @user.crypted_password
%p
  %b Password salt:
  = @user.password_salt
%p
  %b Persistence token:
  = @user.persistence_token
%p
  %b Login count:
  = @user.login_count
%p
  %b Failed login count:
  = @user.failed_login_count
%p
  %b Last request at:
  = @user.last_request_at
%p
  %b Current login at:
  = @user.current_login_at
%p
  %b Last login at:
  = @user.last_login_at
%p
  %b Current login ip:
  = @user.current_login_ip
%p
  %b Last login ip:
  = @user.last_login_ip
%p
  %b Name:
  = @user.name
%p
  %b Role:
  = @user.role
%p
  %b Facebook:
  = @user.facebook_id
%p
  %b Gender:
  = @user.gender
%p
  %b Locale:
  = @user.locale
%p
  %b Timezone:
  = @user.timezone
%p
  %b Birthday:
  = @user.birthday

= link_to 'Edit', edit_user_path(@user)
\|
= link_to 'Back', users_path
