%li.event.row-fluid{ :id => "event-#{event.id}" }
	= link_to "http://www.facebook.com/#{event.facebook_id}", :class => 'row-fluid', :target => '_blank' do
		.span7
			%figure.event-picture.pull-left
				= image_tag event.picture
			.info.pull-left
				%h3= event.name
				%p.duration= print_hour event.start_time
				- unless event.location.blank?
					%p.city= "#{event.location.city} - #{event.location.state}" unless event.location.city.blank?
					%p.location= event.location.name
		.invited.span5
			%h4 Indo
			.row-fluid
				- (event.friends_invitee || []).each do |friend_invitee|
					= image_tag friend_invitee.user.picture(:small_square), :class => [ friend_invitee.rsvp_status, "friend"]
