%h2.span2
	%span.month=l day, :format => :month
	- unless day.year == Time.now.year
		%span.year=l day, :format => :year
	%span.day=l day, :format => :day
	%span.weekday=l day, :format => :weekday
%ul.day-events.span10.unstyled{ :id => "day-#{day.to_i}-events" }
	= render :partial => 'event', :collection => events
