%hgroup
	%h1 Calendário
	%h2 Veja os próximos eventos que estão chegando

%ul.events-per-day.unstyled= render :partial => 'events_per_day', :object => @events_per_day, :locals => { :has_more_events => @has_more_events, :last_time => @last_time }
