@mixin box-shadow($params) {
  -webkit-box-shadow: #{$params};
  -moz-box-shadow: #{$params};
  box-shadow: #{$params};
}

@mixin background-padding-clip {
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box; 
  background-clip: padding-box;
}

@mixin border-radius($params) {
  -webkit-border-radius: #{$params};
  -moz-border-radius: #{$params};
  border-radius: #{$params};
  @include background-padding-clip;
}

@mixin box-sizing($params) {
  -webkit-box-sizing: #{$params};
  -moz-box-sizing: #{$params};
  -ms-box-sizing: #{$params};
  box-sizing: #{$params};
}

@mixin gradient($from-color, $to-color) {
  background-color: $from-color;
  background-image: -webkit-gradient(linear, left top, left bottom, from($from-color), to($to-color));
  background-image: -webkit-linear-gradient(top, $from-color, $to-color);
  background-image: -moz-linear-gradient(top, $from-color, $to-color);
  background-image: -ms-linear-gradient(top, $from-color, $to-color);
  background-image: -o-linear-gradient(top, $from-color, $to-color);
  background-image: linear-gradient(to bottom, $from-color, $to-color);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$from-color, endColorstr=$to-color);
}

@mixin clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

@mixin ellipsis {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

@mixin display($params) {
	@if ($params == box or $params == inline-box) {
		display: -webkit-#{$params};
		display: -moz-#{$params};
		display: #{$params};
  }
  @else {
  	display: #{$params};
  }
}

@mixin box-align($params) {
	-moz-box-align: #{$params};
	-webkit-box-align: #{$params};
	box-align: #{$params};
}

@mixin box-flex($params) {
	-moz-box-flex: #{$params};
	-webkit-box-flex: #{$params};
	box-flex: #{$params};
}

@mixin box-pack($params) {
	-moz-box-pack: #{$params};
	-webkit-box-pack: #{$params};
	box-pack: #{$params};
}
