/*html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, su, bsup, var, b, i, a, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, button, input, textarea, select {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 12px;
	vertical-align: baseline;
	background: transparent;
	font-family: 'Century Gothic', Arial, Verdana;
	@include box-sizing(border-box);
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
	display: block;
}

body {
	line-height: 1;
}

input, button, textarea {
	border: 1px solid;           
	background: transparent;
  @include box-sizing(border-box);   
}

input[type="image"], input[type="checkbox"] {
	border: 0;
}

a {
	text-decoration: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

button, input[type="submit"] {
	cursor: pointer;
}

ul, li {
	list-style:none;
}

ul, menu, dir {
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-padding-start: 0;
}*/
