/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

@import "_default";
@import "bootstrap";
@import "bootstrap-responsive";

$body-background-color: #F1F1F1;
$menu-background-color: #1F1F1F;
$header-width: 100px;

* {
	@include box-sizing(border-box);
}

input, textarea, select, .uneditable-input {
	height: 26px;
}

body {
	background-color: $body-background-color;
	
	&.application {
		padding: 20px 10px 20px ($header-width + 10px);
	}
}

header {
	position: fixed;
	top: 0;
	left: 0;
	width: $header-width;
	height: 100%;
	background-color: $menu-background-color;
	text-align: center;
	
	#logo {
		margin: 20px 0 30px 0;
		display: block;
	}
	
	menu {
		list-style: none;
		padding: 0;
		margin: 0;
	}
}

header menu li a {
	display: block;
	margin: 10px 0;
	color: #878c8f;

	span {
		display: block;
		margin: 5px auto;
		width: 30px;
		height: 30px;
		background-repeat: no-repeat;
		background-size: 60px 30px;
	}
	
	&:hover {
		color: #FF8600;
		text-decoration: none;
	
		span {
			background-position: -30px 0;
		}
	}
}

header menu li a.calendar span {
	background-image: url(layout/calendar.svg);
}

header menu li a.history span {
	background-image: url(layout/history.svg);
}

header menu li a.logout span {
	background-image: url(layout/logout.svg);
}

.flash {
	padding: 10px;
	font-weight: normal;
	@include border-radius(0);
}

.btn, .btn-primary, .btn-warning, .btn-danger, .btn-success, .btn-info, .btn-inverse {
	border: 0;
	background-image: none;
	text-shadow: none;
	line-height: 25px;
	@include border-radius(0);
	@include box-shadow(none);
	
	&:hover {
		text-shadow: none;
	}
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

h1 {
	font-size: 23px;
	line-height: 26px;
}

h2 {
	font-size: 13px;
	line-height: 23px;
	color: #777;
}

hgroup {
	padding: 5px 10px;
	border-left: 7px solid #FF8600;
}
