// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "_default";
	
.events-per-day {
	margin-top: 20px;
	
	.day + .day {
		margin-top: 10px;
	}

	h2 {
		background-color: #FF8600;
		padding: 10px;
		text-align: right;
		color: #fff;
		
		span {
			font-size: 15px;
			line-height: 18px;
			display: block;
		}
		
		.day {
			font-size: 35px;
			line-height: 40px;
		}
		
		.weekday {
			font-size: 13px;
			color: #CC5300;
		}
	}
	
	.event {
		background-color: #333;
		
		& + .event {
			margin-top: 10px;
		}
	
		.event-picture {
			width: 180px;
			max-height: 150px;
			overflow: hidden;
			text-align: center;
			background-color: black;
			margin: 0;
		}
		
		.info {
			padding: 5px 10px;
			width: 60%;
			
			h3 {
				text-transform: uppercase;
				font-size: 11px;
				font-weight: bold;
				line-height: 15px;
				margin-bottom: 10px;
				color: #fff;
			}
			
			.duration {
				color: #FF8600;
				font-size: 20px;
				line-height: 27px;
			}

			.city {
				color: #878c8f;
				margin-top: 15px;
				font-size: 20px;
			}

			.location {
				font-size: 12px;
				color: #CDCDCD;
				font-weight: bold;
				line-height: 15px;
			}
		}
		
		.invited {
			padding: 5px 10px;
		
			h4 {
				font-size: 12px;
				text-transform: uppercase;
				color: #82F501;
				font-weight: bold;
				line-height: 15px;
				margin-bottom: 10px;
			}
		}
	}
}
