%menu
	- unless current_user.blank?
		%li
			= link_to calendar_events_path, :class => 'calendar' do
				%span
				Calendário
		%li
			= link_to history_events_path, :class => 'history' do
				%span
				Histórico
		%li
			= link_to logout_path, :class => 'logout' do
				%span
				Sair
