!!! 5
%html

	%head
		%title bora.ae
		%meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
		= stylesheet_link_tag "application", :media => "all"
		= csrf_meta_tag
		= yield :head
		= render :partial => '/layouts/analytics'
	%body.application
		= render :partial => '/layouts/facebook'
		%header
			= link_to '/', :id => 'logo' do
				= image_tag 'layout/boraae-short.svg', :alt => "bora.ae"
			= render :partial => '/layouts/menu'
		%section.container-fluid
			- if !current_user.blank? && current_user.created_at + 12.hours > Time.now
				%p.flash.badge.badge-info= "Seus dados do facebook estão sendo processados, aguarde..."
			- elsif !flash[:notice].blank?
				%p.flash.badge.badge-success= flash[:notice]
			= yield
		
		/[if lt IE 9]
			= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
		= javascript_include_tag "application"
