!!! 5
%html

	%head
		%title bora.ae
		%meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
		= stylesheet_link_tag "application", :media => "all"
		= csrf_meta_tag
		= yield :head
		= render :partial => '/layouts/analytics'
	%body
		= render :partial => '/layouts/facebook'
		= yield
		
		/[if lt IE 9]
			= javascript_include_tag "http://html5shim.googlecode.com/svn/trunk/html5.js"
		= javascript_include_tag "application"
